<!DOCTYPE html>
<html>
<head>
  <title></title>
   <script type="text/javascript" src="./lib/angular/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
      <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Oswald' rel='stylesheet' type='text/css'>
    <meta-charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-app="myApp">
<div class="container" id="contain" ng-controller="myCtrl">
<div>
  <h1 style="text-align: center;">Contact Us</h1>
  <p class="sub-header-text">If you have any donations or would like to volunteer for the next campaign, fill out the form below and we will get back to you as soon as we can. We appreciate your support! Everything you do goes a long way and will impact a family somewhere in the Quad Cities. If you need to go back to the home page <a href="/">Click Here</a> </p>
</div>
<form class="form-inline">
  <div class="form-group">
    <label >Name</label>
    <input type="text" ng-model="mail.name" class="form-control"  placeholder="Your Name" required>
  </div>
  <div class="form-group">
    <label >Email</label>
    <input type="email" ng-model='mail.email' class="form-control" placeholder="You@example.com" required>
  </div>
  <div class="form-group">
    <label >Phone</label>
    <input  ng-model='mail.phone' class="form-control" placeholder="1(555)555-5555 or N/A" required>
  </div>
  <div class="form-group">
    <label >Subject</label>
    <input type="text" ng-model='mail.subject' class="form-control"  placeholder="Subject" required>
  </div><br>
  <div class="form-group" style="margin-top: 20px;">
    <label for="exampleInputName2">Content:  </label>
    <textarea type="text" style="width: 100%;" ng-model='mail.content' class="form-control" rows="10" cols="125" placeholder="Content"></textarea>
  </div><br>
  <button type="submit" ng-click='submit()' class="btn btn-default" style="margin-left: 60px;">Send Message</button>
</form>
{{ response }}




<hr class="featurette-divider">
<div id="footer">

  <div class="row">
    <div class="col col-md-offset-5 col-md-1">
      <a target="_blank" href="https://www.facebook.com/underwearbecausewecare/"><img src="./pics/fb.png" class="col col-md-offset-5" style="height: 75px; width: 75px;"></a>
    </div>
    <div class="col col-md-2">
      <img src="./pics/green.png" style="height: 75px; width: 75px; padding-left: 5%;">
    </div>
  </div>

  <p style=" font-style: bold; color: black; margin-top: 5px; text-align: center;">&copy; Underwear Because We Care, 2016 </p>

</div>
</div>
 <script type="text/javascript" src="movement.js"></script>
  <script src="module.js"></script>
  <script type="text/javascript" src="./lib/jquery.js"></script>
 
</body>
</html>
