
<div>

<img src="./pics/UbwcBanner.jpg">
<div id="content"></div>

<p>Undwear Because We Care is a campaign in the Quad Cities that collects basic necessities and delievers them to those who are in need. The last campaign which happend in 2015 collected 9200 items, helping over 2700 indiviuals. </p>

<p></p>



<h2>The Mission</h2>

<p>The Mission of UBWC is to provide the basics necessities to every single houshold inside of the quad cities. The passion and drive behind what we do is to see every kid, even in the poorest of places, go to school with everything they need.</p>

<h2>Donating</h2>

<p>100% of all donations go straight to purchasing new underwear, socks, toothpaste and much more. Your donations impact famlies all across the quad cities. We could'nt provide the services we wanted if it weren't for people exactly like you. If you're wanting to donate whether it be money, food or items click on the contact tab. We can't wait to meet you!</p>






</div>
