


<div class="container">
<div>
  <h1 style="font-family: 'Source Sans Pro', 'serfif';">Contact Us</h1>
  <p style="font-family: 'PT Sans', 'serif';">If you have any questions, do not hesitate to ask. One of our volunteers will get back to you within 48-72 hours. If you're in need of Assistance, complete the form with the subject 'Assistance'. To be a Volunteer add the subject "Volunteer" and likewise for Information Request "Info Request" We will reach out to ou and look forward to meeting you! </p>
</div>
<div ng-include="'nav.html'"></div>
<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" ng-model="mail.name" class="form-control" id="exampleInputName2" placeholder="Jane Doe" required>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" ng-model='mail.email' class="form-control" id="exampleInputEmail2" placeholder="John.Doe@example.com" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPhone2">Phone</label>
    <input  ng-model='mail.phone' class="form-control" id="exampleInputEmail2" placeholder="1(555)555-5555 or N/A" required>
  </div>
  <div class="form-group">
    <label for="exampleInputName2">Subject</label>
    <input type="text" ng-model='mail.subject' class="form-control" id="exampleInputName2" placeholder="Volunteer/Assistance/Info Request" required>
  </div><br>
  <div class="form-group">
    <label for="exampleInputName2">Content</label>
    <textarea type="text" ng-model='mail.content' class="form-control" id="exampleInputName2" placeholder="Content"></textarea>
  </div><br>
  <button type="submit" ng-click='submit()' class="btn btn-default">Send invitation</button>
</form>
{{ response }}
<hr class="featurette-divider">
</div>


