
    

      <form class="form-signin">
        <h2 class="form-signin-heading" style="text-align: center;">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input style="width: 200px; margin-bottom: 15px; margin-left: 475px;" ng-model='username' type="text" id="inputUser" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input style="width: 200px; margin-top: 15px; margin-left: 475px;" ng-model='password' type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label style="margin-left: 505px;">
            <input type="checkbox" value="remember-me"> Remember me</input>
          </label>
        </div>
        <button style="margin-left: 500px; width:120px;" class="btn btn-lg btn-primary btn-inline" ng-click='submit()' type="submit">Sign in</button>
      </form>

<p style="font-size: 25px;"> <a href="#/"><- Back</a> </p>
  
